#content {
    border-radius:4px;
    margin:20px auto;
    width:60%;
    background-color:whitesmoke;
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3);
    padding:20px 0px 40px 0px;
}

#content .title {
    text-indent:20px;
    font:1.5em "Open Sans", Helvetica, Arial, sans-serif;
    color:#6a6a6a;
    margin-bottom:25px;
}

#content ul {
    list-style-type:none;
    padding:0;
    text-align:center;
    margin-top:10px;
}

#content ul li {
    display:inline-block;
    vertical-align:top;
    width:200px;
    margin:0px 5px 30px 5px;
}

#content ul #no-result {
    font-family:arial, helvetica, verdana, sans-serif;
}

#content li .book-thumbnail {
    width:124px;
    height:150px;
    background-image:url('../images/book-cover.jpg');
}

.book-interaction {
    display:none;
    width:100%;
    height:100%;
}

.book-thumbnail:hover .book-interaction {
    display:block;
    background-color:rgba(0, 0, 0, 0.7);
}

.book-interaction .removeFromPanier, .book-interaction .addToPanier {
    background:none;
    background-size:cover;
    border:0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    width:48px;
    height:48px;
    margin-top:45px;
    cursor:pointer;
}

.book-interaction .removeFromPanier {
    background-image:url('../images/basket-remove.png');
}

.book-interaction .addToPanier {
    background-image:url('../images/basket-add.png');
}

#content li .book-title, #content li .book-author, #content li .book-type, #content li .book-quantity {
    width:100%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    text-align:left;
    margin-top:7px;
    font-family:Helvetica;
}

#content li .book-title {
    font-size:1em;
}

#content li .book-author {
    font-size:0.9em;
    font-weight:lighter;
}

#content li .book-type {
    font-size:0.8em;
    font-weight:lighter;
}

#content li .book-quantity {
    font-size:0.7em;
    font-weight:lighter;
}

#book-pagination {
    text-align:center;
    padding:0px 10px 0px 10px;
    margin-top:15px;
}

#book-pagination .currentStep, #book-pagination .step, #book-pagination .prevLink, #book-pagination .nextLink {
    padding:0px 5px 0px 5px;
}

#book-pagination a {
    text-decoration:none;
    color:black;
    font-family:Helvetica;
    font-size:1em;
}

#book-pagination a:hover {
    font-weight:bold;
}

.valReserv {
    -webkit-appearance: none;
    -moz-appearance: none;
    border:0px;
    border-radius:1.5px;
    height: 27px;
    outline: none;
    margin: 0;
    padding:0px 5px 0px 5px;
}

.valReserv {
    font-weight:bold;
    color:white;
    background-color:#8cc334;
}

.valReserv:hover {
    border: 1px solid #5a850e;
}

.textReserv {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.erreurReserv {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
    color: #cc0000;
    font-weight: bold;
}