* {
    margin:0;
}

html, body {
    height:100%;
}

#body-wrapper {
    overflow:hidden;/*Force le respect du positionnement*/
    width:100%;
    min-height:100%;
    position:relative;
    margin-top:70px;
    background-color:#dcddd8;
    background-image:url('../images/bg-noise.png');
}

header {
    position:fixed;
    left:0;
    top:0;
    background-color:#001C20;
    width:100%;
    height:70px;
    text-align:center;
}

#header-content-wrapper {
    display:inline-block;
    width:60%;
    height:100%;
}

#title {
    margin-top:15px;
    display:inline-block;
    vertical-align:top;
    width:15%;
    font:1.8em Gill Sans, My Gill Sans, sans-serif;
    font-weight:bold;
}

#title a {
    color:white;
    text-decoration:none;
}

#search-wrapper {
    display:inline-block;
    vertical-align:top;
    width:60%;
}

#panier-wrapper {
    display:inline-block;
    vertical-align:top;
    width:15%;
    height:100%;
    position: relative;
}

#panier-wrapper #panier-infos {
    height:100%;
    cursor: pointer;
}

#panier-infos #panier-img {
    display:inline-block;
    vertical-align:top;
    background-image:url('../images/basket.png');
    background-size:cover;
    width:42px;
    height:42px;
    margin-top:10px;
}

#panier-infos #panier-text {
    display:inline-block;
    vertical-align:top;
    color:white;
    font-family:Helvetica;
    margin-top:23px;
}

#panier-thumb {
    position: absolute;
    top:70px;
    background-color:white;
    width:200px;
    height:300px;
    display:none;
    border:1px solid red;
    padding-top:10px;
}

#panier-thumb ul {
    border:1px solid red;
    list-style-type:none;
    padding:0;
    margin-top:15px;
}

#panier-thumb ul li {
    border:1px solid blue;
    list-style-type:none;
    text-align:left;
    text-indent:20px;
}

#panier-wrapper:hover #panier-thumb {
    display:block;
}

#search-wrapper #input-wrapper {
    margin-top:5px;
}

#input-wrapper input {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border: 1px solid #d3d3d3;
    height: 27px;
    outline: none;
    text-indent: 5px;
    margin: 0;
    padding: 0;
}

#input-wrapper input[type="text"] {
    width:60%;
}

#input-wrapper input[type="submit"] {
    width:80px;
    background-color:white;
}

#input-wrapper input:hover {
    border: 1px solid #a7a7a7;
}

#input-wrapper input:focus {
    border: 1px solid #89b2d6;
}

#search-wrapper #options-wrapper {
    margin:5px;
    color:white;
}

#options-wrapper div {
    display:inline-block;
    margin:0px 10px 0px 10px;
    font-family:arial, helvetica, verdana, sans-serif;
}

#content-wrapper {
    width:100%;
    margin-bottom:375px;
    overflow:hidden;/*Force le respect du positionnement*/
}

footer {
    background-color:#3c3c3c;
    width:100%;
    height:375px;
    position:absolute;
    bottom:0;
    color:#a7a7a7;
}